# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/vcs.xml
/compiler.xml
/dataSources.xml
/modules/consumer-worker.main.iml
/gradle.xml
/kafka-log-system.iml
/misc.xml
/modules.xml
